@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f172a;
  --surface: #1e293b;
}

body {
  background-color: var(--background);
  color: white;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #1e293b;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 3px;
}
